<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sourceforge.usbdm.gdb.launchConfigurationType">
    <booleanAttribute key="net.sourceforge.usbdm.gdb.bdmSerialNumberMatchRequired" value="false"/>
    <stringAttribute key="net.sourceforge.usbdm.gdb.buildToolId" value="net.sourceforge.usbdm.cdt.toolchain.processor.usbdmConfigure.armLtdGnuToolsForARM"/>
    <stringAttribute key="net.sourceforge.usbdm.gdb.clockTrimFrequency" value="0"/>
    <stringAttribute key="net.sourceforge.usbdm.gdb.deviceName" value="FRDM_KL25Z"/>
    <stringAttribute key="net.sourceforge.usbdm.gdb.gdbBinPath" value="${usbdm_armLtd_arm_path}"/>
    <stringAttribute key="net.sourceforge.usbdm.gdb.gdbCommand" value="${usbdm_armLtd_arm_prefix}gdb"/>
    <intAttribute key="net.sourceforge.usbdm.gdb.interfaceFrequency" value="12000000"/>
    <stringAttribute key="net.sourceforge.usbdm.gdb.interfaceType" value="T_ARM"/>
    <stringAttribute key="net.sourceforge.usbdm.gdb.nvmClockTrimLocation" value="0"/>
    <stringAttribute key="net.sourceforge.usbdm.gdb.targetVdd" value="BDM_TARGET_VDD_3V3"/>
    <booleanAttribute key="net.sourceforge.usbdm.gdb.useSemiHosting" value="false"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="${usbdm_armLtd_arm_path}/${usbdm_armLtd_arm_prefix}gdb"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/TestClock_MKL25.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="TestClock_MKL25"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;memoryBlockExpressionList context=&quot;reserved-for-future-use&quot;/&gt;"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
