Debug/
Release/
/.metadata/
/RemoteLaunch/
/RemoteSystemsTempFiles/
com.freescale.core.ide.cdt.toolchain.prefs
/USBDM_Kinetis - Copy/
/mc9s08dn16/
/MC9S09PA4/
/MC9S12ZVCA192/
/MC9S12HY64/
/bdm_kinetis_mk22f/
/bdm_frdm (copy)/
/Delme/
/kl02_Test/
/kl03_Test/
/m20_Test/
/delme/
/frdm_kl25z/
/ReadFrdm/
