<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sourceforge.usbdm.gdb.launchConfigurationType">
<booleanAttribute key="net.sourceforge.usbdm.gdb.bdmSerialNumberMatchRequired" value="false"/>
<stringAttribute key="net.sourceforge.usbdm.gdb.buildToolId" value="net.sourceforge.usbdm.cdt.toolchain.processor.usbdmConfigure.armLtdGnuToolsForARM"/>
<stringAttribute key="net.sourceforge.usbdm.gdb.clockTrimFrequency" value="0"/>
<stringAttribute key="net.sourceforge.usbdm.gdb.deviceName" value="FRDM_K20D50M"/>
<stringAttribute key="net.sourceforge.usbdm.gdb.gdbBinPath" value="${usbdm_armLtd_arm_path}"/>
<stringAttribute key="net.sourceforge.usbdm.gdb.gdbCommand" value="${usbdm_armLtd_arm_prefix}gdb"/>
<stringAttribute key="net.sourceforge.usbdm.gdb.interfaceType" value="T_ARM"/>
<stringAttribute key="net.sourceforge.usbdm.gdb.nvmClockTrimLocation" value="0"/>
<stringAttribute key="net.sourceforge.usbdm.gdb.targetVdd" value="BDM_TARGET_VDD_3V3"/>
<booleanAttribute key="net.sourceforge.usbdm.gdb.useSemiHosting" value="false"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="${usbdm_armLtd_arm_path}/${usbdm_armLtd_arm_prefix}gdb"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/FRDM_MK20_POWER_ON_ERASE_CHALLENGE.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="FRDM_MK20_POWER_ON_ERASE_CHALLENGE"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
</launchConfiguration>
